* {
  box-sizing: border-box;
}

:root {
  --base-size-pt: 12;
  --page-margin-cm: 2;
}

html.narrow {
  --base-size-pt: 11;
  --page-margin-cm: 0.5;
}

html.wide {
  --base-size-pt: 14;
}

html, body {
  font-family: Times, 'Times New Roman', 'Kaiti TC', 'BiauKai', 標楷體, cursive, serif;
}

header, footer {
  font-size: .75rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 1.4rem;
  padding-bottom: 1em;
}

thead, tbody, tfoot {
  border: 1.5pt black solid;
}

thead.no-repeat {
  display: table-row-group;
}

th {
  font-weight: bold;
  text-align: center;
}

.h1, thead th {
  font-size: 1.6rem;
}

.h2 {
  font-size: 1.4rem;
}

.h3 {
  font-size: 1.2rem;
}

th, td {
  border: 0.75pt black solid;
  padding: 0.15rem 0.2rem;
}

.nested {
  padding: 0;
}

.nested table, .nested tbody {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;
}

li {
  text-indent: -1em;
}

ul > ul > ul {
  font-size: .875em;
  line-height: 1;
}

strong {
  font-weight: bold;
}

em {
  font-weight: 500;
  font-style: normal;
  color: red;
}

[align="justify"] {
  text-align-last: justify;
}

.compact {
  line-height: 1em;
}

.bracket { /* typesetting  */
  display: inline-block;
  margin: 0 -.33em;
  text-indent: 0;
}

input, textarea {
  margin: 0;
  padding: 0;
  min-width: 1em;
  font: inherit;
}

input[type="text"] {
  text-align: left;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table input[type="number"]:only-child {
  text-align: right;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  position: relative;
  top: -.05em;
  vertical-align: middle;
}

input[size] {
  width: 3em;
  width: attr(size em);
}

[align="justify"] > input {
  text-align: center;
}

.dense input[size] {
  width: 2em;
  margin: 0 -0.05em;
  padding: 0;
}

textarea, td > input:not([type="checkbox"]):only-child {
  width: 100%;
  height: 100%;
  resize: none;
}

ul.loose li {
  margin-top: 1em;
}

.double-line {
  line-height: 2;
}

.extra-height td {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.signatures {
  display: flex;
  flex-flow: column wrap;
}

.signatures > li {
  width: 40%;
  padding: 1em 0 2em 0;
  text-indent: 0;
}

.break {
  break-before: always;
}

.no-break {
  break-before: avoid;
  break-inside: avoid-page;
}

.wrap {
  wrap-before: always;
}

@media screen {
  html {
    font-size: calc(100% * var(--base-size-pt) / 12);
    background: #fdfdfd;
  }

  body {
    margin: auto;
    padding: calc(1em * (var(--page-margin-cm) / 2.54) * (72 / var(--base-size-pt)));
    max-width: calc(1em * (21 / 2.54) * (72 / var(--base-size-pt)));
    background: white;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 2cm; /*calc(1cm * var(--page-margin-cm)); // FF BUG */
  }

  html, body {
    font-size: calc(1pt * var(--base-size-pt));
  }

  input:not([type="checkbox"]), textarea {
    border: 0 transparent none;
  }

  input[type="checkbox"].check-mark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline;
    position: static;
  }

  input[type="checkbox"].check-mark::before {
    content: '\3000';
  }

  input[type="checkbox"].check-mark:checked::before {
    content: '\2714';
  }

  textarea:empty {
    display: none;
  }

  ::placeholder {
    color: transparent;
  }

  .no-print {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
