* {
  box-sizing: border-box;
}

:root {
  --base-size-pt: 12;
  --page-margin-cm: 2;
}

.narrow {
  --base-size-pt: 11;
  --page-margin-cm: 0.5;
}

html.wide {
  --base-size-pt: 14;
}

html, body {
  font-family: Times, 'Kaiti TC', 'BiauKai', 標楷體, cursive;
}

header {
  font-size: .75rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead, tbody, tfoot {
  border: 1.5pt black solid;
}

thead.no-repeat {
  display: table-row-group;
}

th {
  font-weight: bold;
  text-align: center;
}

thead th {
  font-size: 1.6rem;
}

th, td {
  border: 0.75pt black solid;
  padding: 0.15rem 0.2rem;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;
}

li {
  text-indent: -1em;
}

ul > ul > ul {
  font-size: .875em;
  line-height: 1;
}

strong {
  font-weight: bold;
}

em {
  font-weight: 500;
  font-style: normal;
  color: red;
}

[align="justify"] {
  text-align-last: justify;
}

.compact {
  line-height: 1em;
}

.bracket { /* typesetting  */
  display: inline-block;
  margin: 0 -.33em;
  text-indent: 0;
}

input, textarea {
  margin: 0;
  padding: 0;
  min-width: 1em;
  font: inherit;
}

input[type="text"] {
  text-align: left;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

table input[type="number"] {
  text-align: right;
}

input[length] {
  width: 3em;
  width: attr(length em);
}

[align="justify"] > input {
  text-align: center;
}

textarea, td > input:only-child {
  width: 100%;
  height: 100%;
  resize: none;
}

ul.loose li {
  margin-top: 1em;
}

.signatures {
  display: flex;
  flex-flow: column wrap;
}

.signatures > li {
  width: 40%;
  padding: 1em 0 2em 0;
  text-indent: 0;
}

.break {
  break-before: always;
}

@media screen {
  html {
    font-size: calc(100% * var(--base-size-pt) / 12);
    background: #fefefe;
  }

  body {
    margin: auto;
    padding: calc(1em * (var(--page-margin-cm) / 2.54) * (72 / var(--base-size-pt)));
    max-width: calc(1em * (21 / 2.54) * (72 / var(--base-size-pt)));
    background: white;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: calc(1cm * var(--page-margin-cm));
  }

  html, body {
    font-size: calc(1pt * var(--base-size-pt));
  }

  input, textarea {
    border: 0 transparent none;
  }

  ::placeholder {
    color: transparent;
  }
}
